.user-settings-button {
    position: relative;
    padding-right: 8px;
    color: #999;
    text-align: right;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;

    &::after {
        content: '';
        position: absolute;
        top: 8px;
        right: 0;
        width: 5px;
        height: 1px;
        transform: rotate(130deg);
        background-color: #999;
    }

    &::before {
        content: '';
        position: absolute;
        top: 5px;
        right: 0;
        width: 5px;
        height: 1px;
        transform: rotate(40deg);
        background-color: #999;
    }
}
