.login {
    &__title {
        color: #333;
        font-size: 24px;
        font-weight: 600;
        margin: 0 0 20px;
    }

    &__input {
        margin-bottom: 15px;
    }

    &__footer {
        text-align: left;
        margin-top: 14px;
        font-size: 14px;
        line-height: 14px;
    }

    &__footer-link {
        font-weight: 600;
    }
}
