.profile {
    color: #4a4a4a;
    min-width: 510px;
    margin: 20px;

    &__name-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    &__name {
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
    }

    &__fields-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }

    &__field-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #EAEAEA;

        &:last-child {
            border-bottom: none;
        }
    }

    &__field-title {
        font-size: 14px;
        color: #1E1E1E;
    }

    &__field-value {
        font-size: 14px;
        color: #999;
    }

    &__button {
        padding: 10px 0;
        width: 100%;
        border-bottom: 1px solid #EAEAEA;
        font-size: 14px;
        text-align: left;
        background-color: transparent;
        color: var(--color-text-link);
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        &_color_red {
            color: var(--color-text-danger);
        }
    }

    &__submit-button {
        margin-top: 60px;
    }

    &__field {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #EAEAEA;

        &:last-child {
            border-bottom: none;
        }
    }

    &__field-label {
        font-size: 14px;
        color: #1E1E1E;
        margin-bottom: 0;
    }


    &__field-input {
        max-width: 250px;
        font-size: 14px;
        color: var(--color-text-main);
        text-align: end;
        border: none;
        padding: 0;

        &::placeholder {
            color: var(--color-text-light);
        }
    }

    &__button-back {
        position: absolute;
        left: 0;
        top: 0;
        width: 64px;
        height: 100%;
        background-color: #FBFBFB;
        cursor: pointer;

        &:hover {
            background-color: #F5F5F5;
        }
    }
}
