<main class="profile">

        <div class="profile__avatar-wrapper">
            <img class="profile__avatar-icon" src={{avatar}} alt="avatar" />
        </div>

        <div class="profile__name-wrapper">
            <p class="profile__name">Ivan</p>
        </div>

        <div class="profile__fields-wrapper">
            {{> UserSettingsField label="Email" name="email" type="email" value="pochta@yandex.ru" }}
            {{> UserSettingsField label="Login" name="login" type="text" value="Roman3000" }}
            {{> UserSettingsField label="First name" name="first_name" type="text" value="Ivan" }}
            {{> UserSettingsField label="Second name" name="second_name" type="text" value="Ivanov" }}
            {{> UserSettingsField label="Display name" name="display_name" type="text" value="Ivanches" }}
            {{> UserSettingsField label="Phone number" name="phone" type="tel" value="+7 (909) 987 30 30" }}
        </div>

        <div class="profile__buttons-wrapper">
            <div class="profile__button-wrapper">
                <button class="profile__button">Change data</button>
            </div>
            <div class="profile__button-wrapper">
                <button class="profile__button">Change password</button>
            </div>
            <div class="profile__button-wrapper">
                <button page='chat' class="profile__button profile__button_color_red">Log Out</button>
            </div>
        </div>
</main>
