<main class="profile">

        <div class="profile__avatar-wrapper">
            <img class="profile__avatar-icon" src={{avatar}} />
        </div>

        <div class="profile__name-wrapper">
            <p class="profile__name">Иван</p>
        </div>

        <div class="profile__fields-wrapper">
            <div class="profile__field-wrapper">
                <div class="profile__field-title">Почта</div>
                <div class="profile__field-value">pochta@yandex.ru</div>
            </div>

            <div class="profile__field-wrapper">
                <div class="profile__field-title">Имя</div>
                <div class="profile__field-value">Иван</div>
            </div>

            <div class="profile__field-wrapper">
                <div class="profile__field-title">Фамилия</div>
                <div class="profile__field-value">Иванов</div>
            </div>

            <div class="profile__field-wrapper">
                <div class="profile__field-title">Имя в чате</div>
                <div class="profile__field-value">Иван</div>
            </div>

            <div class="profile__field-wrapper">
                <div class="profile__field-title">Телефон</div>
                <div class="profile__field-value">+7 (909) 987 30 30</div>
            </div>
        </div>

        <div class="profile__buttons-wrapper">
            <div class="profile__button-wrapper">
                <button class="profile__button">Изменить данные</button>
            </div>
            <div class="profile__button-wrapper">
                <button class="profile__button">Изменить пароль</button>
            </div>
            <div class="profile__button-wrapper">
                <button class="profile__button">Выйти</button>
            </div>
        </div>
</main>
