.input {
    &__label {
        display: block;
        margin-bottom: 5px;
        color: #666;
    }

    &__item {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;

        :focus {
            outline: none;
            border-color: #777;
        }
    }

    &__item-wrapper {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        flex-grow: 1;
        align-items: self-end;
    }

    &__item-error {
        border-color: var(--color-border-danger);
    }

    &__error-message {
        margin-top: 5px;
        color: var(--color-text-danger);
        font-size: 12px;
    }
}
