<main class="card">
    <div class="register">
        <h1 class="register__title">Registration</h1>

        {{#> Form action="/submit" method="post" name="register" }}
            {{> Input value="roman@gmail.com" label="Email" name="email" type="text" class="register__input"}}
            {{> Input value="Roman3000" label="Login" name="login" type="text" class="register__input"}}
            {{> Input value="Roman" label="First name" name="first_name" type="text" class="register__input"}}
            {{> Input value="Romanov" label="Second name" name="second_name" type="text" class="register__input"}}
            {{> Input value="+7 (909) 967 30 30" label="Phone number" name="phone" type="text" class="register__input"}}
            {{> Input error="1" value="Roman3001" label="Password" name="password" type="password" class="register__input"}}
            {{> Input error="1" value="Roman3002" label="Repeat password" name="password" type="password" class="register__input"}}
            {{> Button page="chat" class="register__button" type="submit" text="Sign up"}}
        {{/ Form }}
        <div class="register__footer-footer">
            {{> Link page='login' href="#" text="Sign up" class="login__footer-link"}}
        </div>
    </div>
</main>
