.chat {
    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        height: 100vh;
        width: 100vw;
        background-color: #FFF;
    }

    &__sidebar {
        width: 310px;
        height: 100vh;
        background-color: #FBFBFB;
    }


    &__title {
        font-size: 36px;
        font-weight: 700;
        color: #2d3748;
        margin-bottom: 14px;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        color: #2d3748;
        margin-bottom: 14px;
    }

    &__window {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }

    &__window-header {
        height: 55px;
        padding: 10px;
        margin: 0 20px;
        display: flex;
        background-color: transparent;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #EAEAEA;
    }

    &__window-body {
        padding: 20px;
        flex-grow: 1;
        display: flex;
        background-color: transparent;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        overflow: scroll;
    }

    &__window-footer {
        height: 55px;
        padding: 10px 0;
        margin: 0 20px;
        display: flex;
        background-color: transparent;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #EAEAEA;
    }

    &__button {
        margin-bottom: 15px;
    }

    &__chat-list {
        height: auto;
        overflow-y: scroll;
    }

    &__user-settings {
        display: flex;
        justify-content: flex-end;
        padding: 24px 10px 20px;
    }

    &__user-settings-button {
        position: relative;
        padding-right: 10px;
        color: var(--color-text-light);
        text-align: right;
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;

        &::after {
            content: '';
            position: absolute;
            top: 9px;
            right: 0;
            width: 5px;
            height: 1px;
            transform: rotate(130deg);
            background-color: var(--color-text-light);
        }

        &::before {
            content: '';
            position: absolute;
            top: 6px;
            right: 0;
            width: 5px;
            height: 1px;
            transform: rotate(40deg);
            background-color: var(--color-text-light);
        }
    }

    &__message {
        display: flex;
        width: fit-content;
        max-width: 500px;
        padding: 11px;
        background-color: #E4EDFD;
        border-radius: 12px 12px 0;
        flex-flow: column wrap;
        align-items: flex-start;
        margin-bottom: 7px;
    }

    &__messages-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
    }
}

