
<main class="chat">
    <div class="chat__title">Тут скоро будут список чатов и лента переписки</div>
    <div class="chat__subtitle">Пока можете насладиться следующими доступными функциями:</div>
    {{> Button page="error404" class="chat__button" type="submit" text="Ошибка 404"}}
    {{> Button page="error500" class="chat__button" type="submit" text="Ошибка 500"}}
    {{> Button page="user-settings" class="chat__button" type="submit" text="Настройки пользователя"}}
</main>

