.chat-list {
    &__item {
        padding: 10px;
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: normal;
        justify-content: space-between;
        border-bottom: 1px solid #e6e6e6;
        cursor: pointer;

        &:hover {
            background-color: #F5F5F5;
        }
    }


    &__item-first-column {
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
    }

    &__item-avatar {
        width: 47px;
        height: 47px;
        background-color: #EFEFEF;
        border-radius: 50%;
        object-fit: cover;
    }

    &__item-name {
        margin: 0 0 4px;
        font-size: 13px;
        line-height: 13px;
        font-weight: 600;
    }

    &__item-last-message {
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        color: var(--color-text-light);
    }

    &__item-time {
        color: var(--color-text-light);;
        text-align: right;
        font-size: 9px;
        font-style: normal;
        font-weight: 500;
        line-height: 13px;
    }

    &__item-unread-count {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        color: var(--color-text-inverse);
        background-color: var(--color-button-bg-primary);
        border-radius: 50%;
        text-align: center;
        font-size: 11px;
        line-height: 12px;
    }

    &__item-second-column {
        width: calc(100% - 50px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;
    }

    &__item-third-column {
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }
}
