.chat-search {
    display: flex;
    justify-content: center;

    &__input {
        display: flex;
        justify-content: center;
        width: 290px;
        background-color: #EFEFEF;
        color: #999;
        font-size: 12px;
        line-height: 12px;
        border-radius: 5px;
        border-color: transparent;
    }
}
