<div class="chat-search">
    {{#> Form class="chat-search__form" action="/submit" method="get" name="chat-search" }}
        {{> Input class="chat-search__input" value="" name="login" type="text" placeholder="Search"}}
    {{/ Form }}
</div>
