@import "./variables";
@import "./components/Input/input.scss";
@import "./components/Button/button.scss";
@import "./components/Link/link.scss";
@import "./pages/Login/login.scss";
@import "./pages/Register/register.scss";
@import "./pages/Chat/chat.scss";
@import "./pages/Chat/ChatSearch/chatSearch.scss";
@import "./pages/Chat/MessageSendForm/MessageSendForm.scss";
@import "./pages/Chat/ChatItem/ChatItem.scss";
@import "./pages/UserSettings/userSettings.scss";
@import "./components/ErrorInfo/errorInfo.scss";


* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden scroll;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden scroll;
}

.card {
    background: var(--color-bg-white);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
    width: 340px;
    padding: 50px 30px 30px;
}
