:root {
    --color-bg-white: #fff;
    --color-text-main: #1e1e1e;
    --color-text-light: #999;
    --color-text-inverse: #fff;
    --color-text-link: #3369f3;
    --color-text-danger: #ff2f2f;
    --color-border-danger: #ff2f2f;
    --color-button-bg-primary: #3369f3;
    --color-button-bg-hover-primary: #265eea;
    --color-button-text-primary: #fff;
}

